{port_specs, [
    {"priv/tinycc.nif.so", [
        "c_src/*.c"
    ]}
]}.

{port_env, [
    {"CFLAGS", "-fPIC"},
    {"LDFLAGS", "-fPIC c_src/tinycc/libtcc.a"}
]}.

{plugins, [pc]}.

{pre_hooks, [
    {{pc, compile}, "make CFLAGS=-fPIC LDFLAGS=-fPIC -C c_src/tinycc libtcc.a"},
    {{pc, clean}, "make -C c_src/tinycc clean"}
]}.

{provider_hooks,
 [
  {pre,
   [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
   ]
  }
 ]
}.