{port_specs, [
    {"priv/niffler.nif.so", [
        "c_src/*.c"
    ]}
]}.

{port_env, [
    {"CFLAGS", "$CFLAGS -O3 -fPIC"},
    {"LDFLAGS", "./c_src/tinycc/libtcc.o -ldl -O3 -fPIC"}
]}.

{plugins, [pc]}.

{pre_hooks, [
    {{pc, compile}, "./c_src/build_deps.sh"},
    {{pc, clean}, "make -C c_src/tinycc clean"}
]}.

{provider_hooks,
 [
  {pre,
   [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
   ]
  }
 ]
}.